@use '../abstracts/' as abstracts;
@use '../colors/' as colors;

.contact {
	position: relative;
	background-color: colors.$light-white;
	overflow: hidden;

	.white-block-left {
		background-color: colors.$dark;
	}

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	&__form-input {
		@include abstracts.contactForm;
	}

	&__form-textarea {
		@include abstracts.contactForm;
		max-width: 100%;
		width: 100%;
		min-height: 150px;
	}

	&__form-btn {
		align-self: flex-end;
		padding: 1em;
		width: 100%;
		max-width: 300px;
		color: colors.$pure-white;
		border: none;
		border-radius: 8px;
		background-color: colors.$main-color;
		cursor: pointer;

		&::before {
			background-color: colors.$secondary-color;
		}
	}
}
