@use '../abstracts/' as abstracts;
@use '../colors/' as colors;
.hero-img {
	position: relative;
	padding: 10em 2em;
	@include abstracts.heroImages('../img/hero-img-mini.jpg');
	text-align: center;
	color: colors.$pure-white;
	overflow: hidden;

	&__title {
		margin-bottom: 0.5em;
		font-family: 'Dancing Script', cursive;
		font-size: 4.8rem;
	}

	&__text {
		padding: 1em 0;
	}
}
